body {
    background: url('../src/assets/bgimg2.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-card {
    max-width: 400px;
    margin: 60px auto;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.9); /* Adds a white background with some transparency */
    border-radius: 10px; /* Optional: Adds rounded corners */
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button {
    width: 100%;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .captcha {
    margin-bottom: 30px; /* Increased margin-bottom to add space */
  }

  /* Custom styles for success snackbar */
  .success-snackbar {
    background-color: #4caf50;
    color: #fff;
    font-size: 1.5em; /* Larger text */
    padding: 20px; /* More padding for bigger view */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; /* Optional: Adds rounded corners */
    max-width: 600px; /* Increase width */
    margin: auto; /* Center align the snackbar */
  }
  
  /* Custom styles for error snackbar */
  .error-snackbar {
    background-color: #f44336;
    color: #fff;
    font-size: 1.5em; /* Larger text */
    padding: 20px; /* More padding for bigger view */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px; /* Optional: Adds rounded corners */
    max-width: 600px; /* Increase width */
    margin: auto; /* Center align the snackbar */
  }
  
  /* Optional: Customize the button inside the snackbar */
  .mat-simple-snackbar-action {
    color: #fff;
    font-weight: bold;
    font-size: 1.2em;
  }

  
  
  
