<div class="main">
    <div class="reset-wrapper">
      <div class="form-header">
        <h1>Forgot Password</h1>
      </div>
  
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('required')">Email is required</mat-error>
            <mat-error *ngIf="forgotPasswordForm.get('email')?.hasError('email')">Invalid email address</mat-error>
          </mat-form-field>
        </div>
  
        <div class="sent">
          <button type="button" mat-raised-button color="primary" (click)="resendOtp()" [disabled]="!email?.valid">
            {{ otpSent ? 'Resend OTP' : 'Send OTP' }}
          </button>
        </div>
  
        <div class="otp-sent" *ngIf="otpSent">
          <mat-form-field appearance="outline">
            <mat-label>Enter OTP</mat-label>
            <input type="text" matInput formControlName="otp" />
          </mat-form-field>
        </div>
  
        <div class="otp-valid" *ngIf="otpSent">
          <button mat-raised-button color="primary" type="button" (click)="validateOtp()" [disabled]="!otp?.valid">Validate OTP</button>
        </div>
  
        <div class="password-wrapper">
            <mat-form-field appearance="outline">
                <mat-label>New Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="newPassword">
                <mat-error *ngIf="forgotPasswordForm.get('password')?.hasError('password')">New password is required</mat-error>
            </mat-form-field>
        </div>
  
        <div>
          <div class="phone-group">
            <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmNewPassword">
                <mat-error *ngIf="forgotPasswordForm.get('password')?.hasError('password')">Confirm password is required</mat-error>
            </mat-form-field>
          
            <mat-checkbox (change)="togglePasswordVisibility()">Show Password</mat-checkbox>
          </div>
        </div>
  
        <button type="submit" [disabled]="!forgotPasswordForm.valid || !otpValid">Submit</button>
      </form>
    </div>
  </div>
  