<mat-card class="login-card">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Admin Login</h1>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input class="input" matInput formControlName="username" placeholder="Enter your username">
        <mat-error *ngIf="loginForm.get('username')?.hasError('required')">Username is required</mat-error>
        <mat-error *ngIf="loginForm.get('username')?.hasError('maxLengthExceeded')">Username cannot exceed 30 characters</mat-error>
      </mat-form-field>
    </div>
    
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input class="input" matInput type="password" formControlName="password" placeholder="Enter your password">
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        <mat-error *ngIf="loginForm.get('password')?.hasError('maxLengthExceeded')">Password cannot exceed 25 digits</mat-error>
      </mat-form-field>
    </div>
    
    <button class="login" type="submit" [disabled]="loginForm.invalid">Login</button>
    <p class="forgot-password"><a (click)="onForgotPassword()">Forgot Password</a></p>
  </form>
</mat-card>
